[Unit]
Description=Backup service for %i
; Optionally use systemd-failmsg to generate failure emails
; OnFailure=failmsg@%n.service

Requires=network.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/etc/bak/bak-%i.sh
LogRateLimitBurst=15000
