; This is configured to use %H, the hostname of this machine. This will be sent
; to the Unit. For other kinds of backups, any string can be used here instead
; of %H
[Unit]
Description=Timer for backup of %H

[Timer]
; For production
OnCalendar=*-*-* 03:00:00
; For testing
; OnUnitActiveSec=1m
; AccuracySec=500ms

Unit=bak@%H.service

[Install]
WantedBy=timers.target
