[Unit]
Description=Backup service for machine %i
; Optionally use systemd-failmsg to generate failure emails
; OnFailure=failmsg@%n.service

Requisite=network.target
After=network.target

[Service]
Type=oneshot
ExecStart=/etc/bak/bak-%i.sh
LogRateLimitBurst=15000
